*{
    padding:0px;
    margin:0px;
}

.contenedor{
    height:100vh;
    display:flex;
    flex-direction:column;
    padding:20px;
    justify-content:center;
    align-items:center;
}

.cuadro{
    width:400px;
    height:400px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:10px;
    background-color:black;
}

.cuadro div{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-size:80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
.cuadro div:hover{
    background-color:rgb(214, 214, 214);
    cursor:pointer;

}

button{
    padding:20px 10px;
    background-color:blueviolet;
    color:white;
    outline:none;
    border:0px;
    border-radius: 8px;
    width:200px;
    font-weight:regular;
    font-size:16px;
    letter-spacing:1px;
    margin-top:60px;
    font-family:'Poppins',sans-serif;
    font-weight: 300;
}

button:hover{
    cursor:pointer;
    background-color:rgb(112, 34, 185);
}